<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="keywords" content="$!{config.IndexKeywords}" />
	<meta name="description" content="$!{config.IndexDescription}" />
	<link rel="apple-touch-icon" sizes="180x180" href="${mbpath}images/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="${mbpath}images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="${mbpath}images/favicon-16x16.png" />
	<script src="https://f.wanmaapp.com/js/tailwindcss.js"></script>
	<title>$!{config.IndexTitle}</title>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?dffce3032bbb641319976308d8a47e46";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script>
		site_config = {
			prompts: [

			],
			standardPrompts: [{content: "《用简单的术语解释量子计算》"}, {content: "对10岁生日有什么创意吗？"}, {content: "如何在 Javascript 中发出 HTTP请求？"}]
		}
	</script>
	<style>
		body,
		html {
			height: 100%;
		}

		::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		::-webkit-scrollbar-track-piece {
			background-color: rgba(0, 0, 0, 0.2);
			-webkit-border-radius: 6px;
		}

		::-webkit-scrollbar-thumb:vertical {
			height: 5px;
			background-color: rgba(125, 125, 125, 0.7);
			-webkit-border-radius: 6px
		}

		::-webkit-scrollbar-thumb:horizontal {
			width: 5px;
			background-color: rgba(125, 125, 125, 0.7);
			-webkit-border-radius: 6px
		}
	</style>
	<script type="module" crossorigin src="/static/js/main.js"></script>
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/1c.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/abnf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/accesslog.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/actionscript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ada.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/angelscript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/apache.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/applescript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/arcade.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/arduino.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/armasm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/xml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/asciidoc.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/aspectj.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/autohotkey.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/autoit.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/avrasm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/awk.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/axapta.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/bash.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/basic.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/bnf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/brainfuck.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/c.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/cal.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/capnproto.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ceylon.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/clean.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/clojure.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/clojure-repl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/cmake.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/coffeescript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/coq.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/cos.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/cpp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/crmsh.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/crystal.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/csharp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/csp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/css.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/d.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/markdown.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dart.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/delphi.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/diff.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/django.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dns.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dockerfile.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dos.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dsconfig.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dts.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/dust.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ebnf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/elixir.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/elm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ruby.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/erb.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/erlang-repl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/erlang.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/excel.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/fix.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/flix.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/fortran.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/fsharp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gams.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gauss.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gcode.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gherkin.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/glsl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/go.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/golo.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/gradle.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/graphql.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/groovy.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/haml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/handlebars.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/haskell.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/haxe.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/hsp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/http.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/hy.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/inform7.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ini.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/irpf90.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/isbl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/java.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/javascript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/jboss-cli.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/json.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/julia.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/julia-repl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/kotlin.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/lasso.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/latex.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ldif.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/leaf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/less.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/lisp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/livecodeserver.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/livescript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/llvm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/lsl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/lua.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/makefile.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mathematica.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/matlab.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/maxima.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mel.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mercury.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mipsasm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mizar.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/perl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/mojolicious.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/monkey.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/moonscript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/n1ql.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/nestedtext.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/nginx.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/nim.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/nix.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/node-repl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/nsis.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/objectivec.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ocaml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/openscad.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/oxygene.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/parser3.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/pf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/pgsql.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/php.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/php-template.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/plaintext.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/pony.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/powershell.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/processing.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/profile.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/prolog.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/properties.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/protobuf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/puppet.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/purebasic.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/python.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/python-repl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/q.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/qml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/r.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/reasonml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/rib.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/roboconf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/routeros.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/rsl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/ruleslanguage.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/rust.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/sas.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/scala.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/scheme.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/scilab.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/scss.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/shell.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/smali.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/smalltalk.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/sml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/sqf.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/sql.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/stan.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/stata.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/step21.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/stylus.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/subunit.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/swift.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/taggerscript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/yaml.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/tap.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/tcl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/thrift.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/tp.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/twig.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/typescript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vala.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vbnet.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vbscript.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vbscript-html.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/verilog.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vhdl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/vim.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/wasm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/wren.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/x86asm.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/xl.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/xquery.js">
	<link rel="modulepreload" crossorigin href="//f4.wanmaapp.com/static/js/languages/zephir.js">
	<link rel="stylesheet" href="/static/assets/index.6130a0e5.css">
</head>

<body class="text-slate-500 bg-slate-900">
	<div class="h-full" id="app" v-cloak>
		<!--背景图片-->
		<div class="absolute z-20 top-0 bottom-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
			<div class="w-[108rem] flex-none flex justify-end">
				<picture>
					<source srcset="https://f.wanmaapp.com/img/bg2" type="image/avif">
					<img src="https://f.wanmaapp.com/img/bg2" alt="" class="w-[90rem] flex-none max-w-none block"
						decoding="async">
				</picture>
			</div>
		</div>
		<!--背景图片end-->

		<div class="overflow-hidden w-full h-full relative flex">

			<div v-if="!showSidebar" v-on:click="handleToggleChatbar"
				class="absolute left-2 top-2 z-10 hidden md:inline-block" style="opacity: 1;">
				<button aria-label="Show sidebar"
					class="flex p-3 items-center gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md border  dark:bg-gray-800 border-white/20  hover:bg-gray-500/10  h-11">
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="h-4 w-4 text-white dark:text-white" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
						<line x1="9" y1="3" x2="9" y2="21"></line>
					</svg>
				</button>
			</div>

			<!--左侧列表-->
			<Transition name="sidebar">
				<div v-if="showSidebar" class="fixed top-0 bottom-0 overflow-hidden w-[260px] sm:relative  z-50">
					<div class="h-full flex w-[260px] flex-col relative z-50 bg-slate-900">
						<div class="flex h-full min-h-0 flex-col ">
							<div class="flex h-full w-full flex-1 items-start border-r border-slate-800">
								<nav class="flex h-full flex-1 flex-col space-y-1 p-2">
									<div class="flex space-x-2">
										<a 
											href="/user/login"
											class="flex flex-1 py-3 px-3 items-center gap-3 rounded-md hover:bg-sky-400 transition-colors duration-200 text-white cursor-pointer text-sm mb-2 flex-shrink-0 bg-slate-700 shadow-sm">
											<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
												stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
												xmlns="http://www.w3.org/2000/svg">
												<line x1="12" y1="5" x2="12" y2="19"></line>
												<line x1="5" y1="12" x2="19" y2="12"></line>
											</svg>
											新对话
										</a>
										<a v-on:click="handleToggleChatbar" title="隐藏"
											class="flex p-3 gap-3 transition-colors duration-200 text-white cursor-pointer text-sm rounded-md border border-white/20 hover:bg-gray-500/10 h-11 w-11 flex-shrink-0 items-center justify-center"><svg
												stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
												stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
												xmlns="http://www.w3.org/2000/svg">
												<rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
												<line x1="9" y1="3" x2="9" y2="21"></line>
											</svg>
										</a>
									</div>

									<!--聊天记录-->
									<div class="flex-col flex-1 overflow-y-auto border-b border-slate-800">
										<Conversations :loading="loadingHistory" v-on:select-conversation="handleSelectConversation"
											:on-updated-conversation="handleUpdatedConversation"
											:on-delete-conversation="handleDeleteConversation" :conversations="conversations"
											:select-conversation="selectedConversation"></Conversations>
									</div>
									<!--聊天记录end-->

									<div class="border-b border-slate-800 mt-auto">
										<a href="/user/login" target="_blank"
											class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
												stroke="currentColor" class="h-4 w-4" height="1em" width="1em">
												<path stroke-linecap="round" stroke-linejoin="round"
													d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
											</svg>
											联系
										</a>

										<a href="/user/login"
											class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
											<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
												stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
												xmlns="http://www.w3.org/2000/svg">
												<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
												<polyline points="16 17 21 12 16 7"></polyline>
												<line x1="21" y1="12" x2="9" y2="12"></line>
											</svg>登录
										</a>
									</div>

									<div
										class="flex py-3 px-3 items-center gap-3 rounded-md duration-200 cursor-pointer text-xs text-slate-400 text-center">
										<a href="https://beian.miit.gov.cn/" target="_blank">${config.IcpNo}</a>
									</div>

								</nav>
							</div>
						</div>
					</div>
					<div v-if="showSidebar" v-on:click="showSidebar = false"
						class="z-30 bg-black/50 fixed top-0 bottom-0 left-0 right-0 sm:hidden"></div>
				</div>
			</Transition>
			<!--左侧列表End-->


			<div class="flex h-full max-w-full flex-1 flex-col">

				<!--移动端显示头部-->
				<div
					class="sticky top-0 z-10 flex items-center border-b border-white/20 bg-gray-800 pl-1 pt-1 text-gray-200 sm:pl-3 sm:hidden">
					<button v-on:click="handleToggleChatbar" type="button"
						class="-ml-0.5 -mt-0.5 inline-flex h-10 w-10 items-center justify-center rounded-md hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white dark:hover:text-white">
						<span class="sr-only">打开侧边栏</span><svg stroke="currentColor" fill="none" stroke-width="1.5"
							viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em"
							width="1em" xmlns="http://www.w3.org/2000/svg">
							<line x1="3" y1="12" x2="21" y2="12"></line>
							<line x1="3" y1="6" x2="21" y2="6"></line>
							<line x1="3" y1="18" x2="21" y2="18"></line>
						</svg>
					</button>
					<h1 class="flex-1 text-center text-base font-normal">新聊天</h1>
				</div>
				<!--移动端显示头部end-->


				<main class="relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1">

					<div class="flex-1 overflow-hidden">
						<div class="relative h-full">
							<div class="h-full w-full overflow-y-auto">

								<!--提示内容区-->
								<div v-if="selectedConversation === null || selectedConversation.messages.length === 0"
									class="flex flex-col items-center text-sm pb-28 sm:pb-0">
									<div class="text-slate-400 w-full md:max-w-2xl lg:max-w-3xl md:h-full md:flex md:flex-col px-6">
										<h1
											class="text-4xl font-semibold text-center mt-6 sm:mt-[20vh] ml-auto mr-auto mb-10 sm:mb-16 flex gap-2 items-center justify-center text-slate-200">
											ChatGPT</h1>
										<div class="md:flex items-start text-center gap-3.5">
											<div class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1">
												<h2 class="flex gap-3 items-center m-auto text-lg font-normal md:flex-col md:gap-2">
													<svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24"
														stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
														xmlns="http://www.w3.org/2000/svg">
														<circle cx="12" cy="12" r="5"></circle>
														<line x1="12" y1="1" x2="12" y2="3"></line>
														<line x1="12" y1="21" x2="12" y2="23"></line>
														<line x1="4.22" y1="4.22" x2="5.64" y2="5.64">
														</line>
														<line x1="18.36" y1="18.36" x2="19.78" y2="19.78">
														</line>
														<line x1="1" y1="12" x2="3" y2="12"></line>
														<line x1="21" y1="12" x2="23" y2="12"></line>
														<line x1="4.22" y1="19.78" x2="5.64" y2="18.36">
														</line>
														<line x1="18.36" y1="5.64" x2="19.78" y2="4.22">
														</line>
													</svg>例子
												</h2>

												<ul class="flex flex-col gap-3.5 w-full sm:max-w-md m-auto">
													<a href="/user/login" v-for="message in standardPrompts" class="w-full bg-slate-800 p-3 rounded-md hover:bg-slate-700"  :data-message="message.content">{{message.content}} →</a>
												</ul>
											</div>

											<div class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1">
												<h2 class="flex gap-3 items-center m-auto text-lg font-normal md:flex-col md:gap-2">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
														stroke="currentColor" aria-hidden="true" class="h-6 w-6">
														<path stroke-linecap="round" stroke-linejoin="round"
															d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z">
														</path>
													</svg>能力
												</h2>

												<ul class="flex flex-col gap-3.5 w-full sm:max-w-md m-auto">
													<li class="w-full bg-slate-800 p-3 rounded-md">记住用户早些时候在对话中说的话</li>
													<li class="w-full bg-slate-800 p-3 rounded-md">允许用户提供后续更正</li>
													<li class="w-full bg-slate-800 p-3 rounded-md">接受过拒绝不当请求的培训</li>
												</ul>
											</div>


											<div class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1">
												<h2 class="flex gap-3 items-center m-auto text-lg font-normal md:flex-col md:gap-2">
													<svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24"
														stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
														</path>
														<line x1="12" y1="9" x2="12" y2="13"></line>
														<line x1="12" y1="17" x2="12.01" y2="17"></line>
													</svg>
													限制
												</h2>


												<ul class="flex flex-col gap-3.5 w-full sm:max-w-md m-auto">
													<li class="w-full bg-slate-800 p-3 rounded-md">
														可能偶尔会产生不正确的信息
													</li>
													<li class="w-full bg-slate-800 p-3 rounded-md">
														可能偶尔会产生有害的指令或有偏见的内容</li>
													<li class="w-full bg-slate-800 p-3 rounded-md">
														对 2021 年后的世界和事件的了解有限
													</li>
												</ul>

											</div>
										</div>
									</div>
									<!-- <div class="w-full h-28 sm:hidden flex-shrink-0"></div>  -->
								</div>
								<!--提示内容区end-->


								<!--对话列表区-->
								<Chat v-else :conversation="selectedConversation"></Chat>
								<!--对话列表区end-->
							</div>
						</div>
					</div>

					<div
						class="absolute bottom-0 left-0 w-full  md:border-t-0  md:border-transparent md:dark:border-transparent   pt-2 md:pl-2 md:w-[calc(100%-.5rem)] bg-vert-dark-gradient">

						<!--斜杠显示提示-->
						<Transition>
							<div v-if="showPrompt" ref="promptListRef"
								class="stretch m-2 gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-2xl xl:max-w-3xl rounded-md p-2 bg-slate-800">
								<div class="max-h-96 overflow-x-auto">
									<div role="listbox" class="listItems-6eZzQ1">
										<ul class="gap-3 flex flex-col">

											<li v-for="prompt, index in prompts" :key="prompt.title" v-on:mouseenter="onMouseOver(index)"
												v-on:click="(e) => {
												e.preventDefault();
          							e.stopPropagation();
												handleInitModal()
											}">
												<div :class="{'bg-slate-600/100': index === activePromptIndex}"
													class="cursor-pointer flex items-center bg-slate-700/30  rounded-md transition-colors p-2">
													<div class="mr-2 rounded-md ring-1 ring-slate-700">
														<svg width="20" height="20" viewBox="0 0 20 20">
															<path d="M13 13h4-4V8H7v5h6v4-4H7V8H3h4V3v5h6V3v5h4-4v5zm-6 0v4-4H3h4z"
																stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
																stroke-linejoin="round"></path>
														</svg>
													</div>
													<div class="flex-auto flex flex-col-reverse">
														<span class="text-slate-400 text-xs line-clamp-1">{{ prompt.content }}</span>
														<span class="text-white mb-2 text-sm ">{{ prompt.title }}</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</Transition>
						<!--斜杠显示提示end-->



						<!--输入框-->
						<div
							class="stretch mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-2xl xl:max-w-3xl">
							<div class="relative flex h-full flex-1 md:flex-col">
								<div
									class="flex flex-col w-full py-2 flex-grow md:py-3 md:pl-4 relative border border-gray-900/50 text-white bg-slate-800 rounded-md shadow-[0_0_15px_rgba(0,0,0,0.10)]">
									<textarea v-on:keyDown="handleKeyDown" v-on:input="handleChange" ref="TextInput" :value="content"
										style="max-height: 200px; height: 24px; overflow-y: hidden;" rows="1" placeholder="发送一个消息..."
										class="m-0 w-full resize-none border-0  p-0 pr-11 focus:ring-0 focus:outline-none focus-visible:ring-0 bg-slate-800 pl-2 md:pl-0"></textarea>

									<button  :class="{'text-white': content.length > 0}"
										class="absolute p-1 rounded-md text-gray-500 bottom-1.5 md:bottom-2.5 enabled:dark:hover:text-gray-400 hover:bg-gray-900 disabled:hover:bg-transparent right-1 md:right-2 disabled:opacity-40">
										<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
											stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em"
											xmlns="http://www.w3.org/2000/svg">
											<line x1="22" y1="2" x2="11" y2="13"></line>
											<polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
										</svg>
									</button>
								</div>
							</div>
						</div>
						<!--输入框end-->


						<div class="px-3 pt-2 pb-3 text-center text-xs text-white/50 md:px-4 md:pt-3 md:pb-6">
							<span>如需获取更高质量回答，请使用
								<span class="inline-flex items-center bg-slate-800 text-sky-400 font-bold p-1 rounded-sm">
									/
								</span>
								调出高级功能
							</span>
						</div>

					</div>
					<!--底部输入End-->

				</main>

			</div>


		</div>

	</div>


</body>

</html>